* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
}

#page{
  width: 1120px;
  margin: 48px auto;
}

#next-trip {
  margin-bottom: 40px;
}

#next-trip .description {
  color: #333;
  text-align: center;
}

#next-trip img {
  height: 660px;
}

#history-lovers {
  border-top: 1px solid #696969;
  width: 100%;
}

.subtitle {
  color: #E1624F;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle, h1 , h2{
  padding: 8px;
}

h1 {
  margin-bottom: 40px;
}